# CE System Test text based configuration file
# Define the controllers in the lines following "CONTROLLERS", specifying the type of controller and the port
# Format for controllers are: controller,<ID-Name>,<Controller-Type>,<Port>
# ID-name should be string identifier and should start with a alpha-numeric character
# Acceptable controller-types are: arduino, simulated

# For daq controlled utilities you will need to check the documentation to find the order to give ports

# Define the hardware utilities (individual hardware components) in the lines following "UTILITIES"
# Utility definitions follow the format utility,<utility-type>, <controller-id>, <arg1, arg2, arg3,...>
# Utility-type are:
#       pressure            |   provides pressure control for the outlet
#       xystage             |   provides XY stage control for a motorized microscope staage
# controller-id should match an ID specified under CONTROLLERS
#
CONTROLLERS
controller,mmc1,pycromanager,C:\Users\Luke\Desktop\Barracuda\AutomatedCE\config\NikonEclipseTi_NoLight_ColorCam.cfg
controller,daq1,nidaqmx,
controller,ard1,arduino,COM4
controller,ard2,arduino,COM7
UTILITIES
utility,ard1,pressure,outlet_pressure
utility,mmc1,xy,xy_stage
utility,mmc1,z,objective,offset,0,default,0,min_z,0,max_z,10,scale,1,invert,1
utility,ard1,z,outlet_z,offset,300,default,295,min_z,100,max_z,301,scale,1,invert,1
utility,ard2,z,inlet_z,offset,25,default,20,min_z,-0.01,max_z,24.25,scale,1,invert,1
utility,ard1,rgb,inlet_rgb
utility,mmc1,filter_wheel,filter_wheel
utility,mmc1,shutter,excitation_shutter
utility,mmc1,camera,camera
utility,daq1,high_voltage,high_voltage,spellman,ao0,ai15,ai13
utility,daq1,detector,detector,pmt,ai0
utility,daq1,laser,lysis_laser,uniphase,p1.0,p1.2,p1.1


